* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: rgb(37, 37, 117);
    color: white;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 15px;
    background-color: rgb(88, 42, 134);
}

.title {
    display: flex;
    align-items: center;
}
.title h1 {
    margin-left: 5px;
}
#search {
    width:44vw;
    height: 35px;
    background-color: rgb(37, 37, 117);;
    border: 0;
    border-radius: 15px;
    color: white;
    outline: 0;
    margin: 0;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.search-btn {
    background-color: rgb(37, 37, 117);
    outline: 0;
    border-radius: 50%;
    padding:10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#nominations {
    height: 100%;
    border: 0;
    border-left: rgba(0, 0, 0, 1);
    cursor: pointer;
    color: white;
    margin: 0;
    background-color: rgb(37, 37, 117);
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.5);
    outline: 0;
}

#nominations:active {
    transform: scale(0.95);
}

.results {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    color: white;
    margin-top:20px;
    margin-left: 10px;
    padding-bottom: 20px;
    max-width: 100%;
}


@media (max-width: 1400px){
    .results {
        grid-template-columns: repeat(4, 1fr);

    }
}
@media (max-width: 1200px){
    .results {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 850px){
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    #search {
        width: 30vw;
    }

}
@media (max-width: 600px){
    .results {
        grid-template-columns: repeat(1, 1fr);
    }
    nav {
        flex-direction: column;
        justify-content: space-between;
    }
    #search {
        width: 50vw;
        margin: 40px 0;
    }
    .results {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.movie {
    border-radius: 15px;
    width: 250px;
    height: 380px; 
    background-size: 105%;
    background-position: center;
    transition: 0.2s ease;
    position: relative;
}

.movie:hover {
    background-size: 125%;
}
.info {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.genres {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    transform: translateY(-40px);
    opacity: 0;
    transition: transform 0.2s ease-in,opacity 0.2s ease;
    
}
.movie:hover .genres {
    transform: translateY(0);
    opacity: 1;
}



.genre, .btn {
    list-style: none;
    padding: 4px 6px;
    background-color: rgb(88, 42, 134);
    margin: 5px 5px;
    border-radius: 5px;
}

.nominate-btn {
    cursor: pointer;
    background: rgb(46, 65, 124);
    border: 0;
    border-radius: 10px;
    padding: 5px 8px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    position: absolute;
    top: 45%;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    outline: none;
}
.movie:hover .nominate-btn{
    opacity: 1;
}

.nominate-btn:hover {
    transform: scale(1.1);
}
.rate {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.rating {
    transform: translateX(-50px);
    opacity: 0;
    transition: transform 0.2s ease-in,opacity 0.2s ease-in;
}
.age {
    transform: translateX(50px);
    opacity: 0;
    transition: transform 0.2s ease-in,opacity 0.2s ease-in;
}

.movie:hover .rating, .movie:hover .age {
    opacity: 1;
    transform: translateX(0);
    
}
.movie-title {
    text-align: center;
    display: flex;
    width: 100%;
    height: 10%;
    background: rgb(46, 65, 124);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
}

.back {
    position: absolute;
    top: 140px;
    left: 30px;
    background-color: rgb(46, 65, 124);
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    color: white;
    outline: 0;
}

.note-box {
    width: 300px;
    height: 150px;
    position: fixed;
    top:40vh;
    left: 40vw;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
}

.exit {
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 0;
    outline: none;
}

.note-box.show {
    display: flex;
}







